<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Youtube Tonight</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "tablesort", :media => "all" %>
    <%= stylesheet_link_tag "dashboard", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-slider", :media => "all" %>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css" />

    <%= javascript_include_tag "application", "moment", "modernizr", "bootstrap-slider" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <% unless @hide_nav %>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/shows#/index">YouTube Tonight</a>
          </div>
          <div id="navbar" class="">
            <% if permitted_to?(:index, :shows) %>
              <ul class="nav navbar-nav">
                <li class="<%= "active" if params[:controller] == 'shows' %>"><a href="/shows#/index">Shows</a></li>
              </ul>
            <% end %>
            <% if permitted_to?(:index, :manage_users) %>
              <ul class="nav navbar-nav">
                <li class="<%= "active" if params[:controller] == 'manage_users' %>"><a href="/manage_users#/index">Users</a></li>
              </ul>
            <% end %>
            <ul class="nav navbar-nav">
              <li>
                <% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <% else %>
                  <%= link_to('Login', new_user_session_path)  %>
                <% end %>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-profile">
              <li><a href='javascript:void(0)'>
                Welcome <%= Authorization.current_user.name %>!
                <img src="<%= Authorization.current_user.profile_image %>" />
              </a></li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
