<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Youtube Tonight</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "tablesort", :media => "all" %>
    <%= stylesheet_link_tag "dashboard", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-slider", :media => "all" %>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css" />

    <%= javascript_include_tag "application", "moment", "modernizr", "bootstrap-slider", "angular-actioncable", "angular-websocket" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js" %>
    <% if Rails.env.test? %>
      <%= javascript_include_tag "jquery.simulate", "jquery.simulate.ext", "jquery.simulate.drag-n-drop" %>
    <% end %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <% unless @hide_nav %>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header" id="home_nav">
            <%
              if user_signed_in?
                if current_user.requires_auth
                  path = "/users/#{current_user.id}/requires_auth"
                else
                  path = "/#/shows"
                end
              else
                path = new_user_session_path
              end
            %>
            <%= link_to('YouTube Tonight', path, class: 'navbar-brand')  %>
          </div>
          <div id="navbar" class="">
            <% unless current_user.try(:requires_auth) %>
              <% if policy(:user).index? %>
                <ul class="nav navbar-nav" id="users_nav">
                  <li><a href="/#/users">Users</a></li>
                </ul>
              <% end %>
              <% if policy(:show).index? %>
                <ul class="nav navbar-nav" id="shows_nav">
                  <li><a href="/#/shows">Shows</a></li>
                </ul>
              <% end %>
              <% playlists = current_user.try(:playlists) %>
              <% if current_user.present? && policy(:playlist).index? %>
                <ul class="nav navbar-nav" id="playlists_nav">
                  <li><a href="/#/playlists">Playlists</a></li>
                </ul>
              <% end %>
            <% end %>
            <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right" id="logout_nav">
                <li id="login_nav"><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right nav-profile">
                <li><a href='javascript:void(0)'>
                  Welcome <%= current_user.name %>!
                  <img src="<%= current_user.profile_image %>" />
                </a></li>
              </ul>
            <% else %>
              <ul class="nav navbar-nav" id="login_nav">
                <li>
                  <%= link_to('Sign In', new_user_session_path)  %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
    <% end %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
