<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Youtube Tonight</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "tablesort", :media => "all" %>
    <%= stylesheet_link_tag "dashboard", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-slider", :media => "all" %>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css" />

    <%= javascript_include_tag "broadcast_application", "moment", "modernizr", "bootstrap-slider", "angular-actioncable", "angular-websocket" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
